.table-container {
    max-width: 100%; /* Maximum width to make it responsive */
    overflow-x: auto; /* Add a horizontal scrollbar when content overflows */
}
table {
    min-width: 900px; /* Minimum width of the table */
    border-collapse: collapse;
    width: 100%; /* Make the table responsive within the container */
}
th,
td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
    min-width: 200px; /* Minimum width of each cell */
    max-width: 200px;
}
th {
    color: white;
    background-color: #e09500;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}